* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

.navbar {
  color: white;
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  width: 100%;
  margin-inline: 0.5rem;
  padding: 0.5rem;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: end;
  width: 100%;
  list-style: none;
  gap: 1rem;
}

.navbar-container a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    transition: all 0.5s ease-in-out;
    color: gray;
  }
}

.navbar-item {
  padding: 0.5rem 1rem;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 640px) {
  .navbar-container {
    justify-content: space-between;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: inline-block;
    margin: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    right: 0;
    transition: all 0.3s ease-in-out;
    background: black;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }

  .mobile-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
